* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body background color */
body {
  background-color: #000;
  color: #fff; /* Warna teks */
}

/* Header styling */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 9%;
  background-color: #111; /* Warna latar belakang header */
  padding: 20px;
  text-align: center;
  justify-content: space-between;
  z-index: 100;
  align-items: center;
}

.logo h1 {
  color: #fff;
  font-size: 24px;
  margin-bottom: 10px;
}

.menu a {
  color: #fff; /* Warna teks menu */
  text-decoration: none;
  margin-right: 20px;
}

.menu a:hover {
  color: #9c9c9c;
}

section {
  margin: auto;
  display: flex;
  padding: 100px 10%;
}

/* Home section styling */
.home {
  padding: 100px ;
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  padding-bottom: 200px;
}

.home-content h2 {
  margin-top: 100px; 
  margin-bottom: 10px;
  font-weight: 800;
  font-size: 45px;
  padding-top: 100px;
}

/* Gallery section styling */
.gallery {
  position: relative;
  display: grid;
  align-items: center;
  margin-top: 100px;
}

.gallery-content {
  padding: 50px;
  text-align: center;
}

.gallery-content h2 {
  text-align: center;
  margin-bottom: 30px;
}

.img {
  gap: 10px;
  padding: 0 10px;
}

.img img {
  border-radius: 0.5rem;
  margin: 10px;
  object-fit: cover;
  transition: 0.5s;
}

.img img:hover {
  transform: scale(1.1);
}
/* Blog section styling */
.blog-content {
  padding: 50px;
}

.blog-content h2 {
  text-align: center;
  margin-bottom: 30px;
}

.blog-content h3 {
  margin-top: 20px;
}

.blog-content p {
  margin-bottom: 20px;
}